/* ######################################################## */
/* General */
/* ######################################################## */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,700,700italic);

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;font-weight: 300;
    color:black;
    margin: 0;
    padding: 0;
}

#page { max-width: 2500px; margin: 0 auto; position: relative; }

/* ######################################################## */
/* Text Configuration */
/* ######################################################## */

h1 { margin: 0 0 1em 0;   font-size: 3em; font-weight: 300; }
h2 { margin: 0 0 1em 0;   font-size: 3em; font-weight: 700; }
h3 { margin: 0 0 0.5em 0; font-size: 1em;   font-weight: 300; }
h4 { margin: 0 0 0.5em 0; font-size: 1em;   font-weight: 700; }

p { margin: 0 0 1em 0; font-size: 1em; font-weight: 300; }


/* ######################################################## */
/* Header */
/* ######################################################## */

header { 
    /*
    height: 50px; 
    position: relative; 
    */
}

/* Logo */
header a.logo {
    /*position: absolute;*/
    display:  block;
    width:    185px;
    height:   62px;
    background: url(../img/comverse-logo.png) no-repeat 0 0;
    background-size: contain;
    top: 7px;
    bottom: 7px;
}

header a.logo span { display: none }

/* Main and Sub Navigation bars */
header nav.main_nav , nav.sub_nav {
    list-style-type: none;
}

header nav.sub_nav {
    position: relative;
    width: 170px;
}

header nav.main_nav li , nav.sub_nav li {
    display: inline;
    margin-right:1em;
}

header nav.main_nav li a , nav.sub_nav li a {
    text-decoration: none;
    color: black;
}

header nav.main_nav li:after {
    width: 1px;
    height: 25px;
    content: url('../img/divider.png');
    margin-left: 1em;
    top: 0px;
}

header nav.main_nav li:last-child:after {
    content: ""; 
}

header nav.sub_nav li a {
    position: absolute;
    right: 0px;
    margin-left: 50px;

}

header nav.sub_nav li a:before {
    position: absolute;
    width: 1px;
    height: 20px;
    content: url('../img/divider.png');
    top: 0px;
    left: -10px;
}

header nav.sub_nav form.lang_form select {
    position: absolute;
    left:0px;
    /*width: 30px;
    height:60px;*/
}


header nav.sub_nav form.lang_form select {
    border: none;
    height: 1em;
 
}

/* Search Box */
form.search_form {
    position: relative;
    border: 1px solid #808080;
    border-radius: 7px;
    width:170px;
    height: 23px;
    overflow: hidden;
    display: block;
}

#search_box {
    position: absolute;
    width: 120px;
    height: 23px;
    border: none;
    display: inline;
    margin: auto 1px 0;
    top: 0px;
    bottom:1px;
}

#search_box:before {
    width: 1px;
    height: 23px;
    content: url('../img/divider.png');
    position: absolute;
    right: 20px;
    display: inline;
    top: 0px;
    
}

#search_bt {
    position: absolute;
    border: none;
    width: 12px;
    height: 23px;
    background: url(../img/searchBtn.png) no-repeat;
    background-position: center;
    background-size: contain;
    display: inline;
    margin-left: 2px;
    right: 8px;
}

form.search_form label {
    display: none;
}

/* ######################################################## */
/* Main Section */
/* ######################################################## */

section.main {
    position: relative;
    background: url(../img/slide-bg-complexity.jpg) no-repeat 0 0;
    height: 639px;
}

/* Learn More button */
a.b1 {
    position: relative;
    /*border: 1px solid #808080;*/
    border-radius: 7px;
    background: #2190c7;
    width: 170px;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
    display: block;
    text-decoration: none;
}

a.b1 span {
    position: absolute;
    color: white;
    text-transform: uppercase;
    text-indent: 5px;
    
    vertical-align: middle;
    /*line-height: normal;*/
}

a.b1 span:after {
    width: 10px;
    height: 13px;
    content: url('../img/btnArrow.png');
    position: absolute;
    right: -55px;
    display: inline;
    vertical-align: middle;
}

/* Radio Button form */
form.radio_form input span,
form.radio_form legend {
    display: none;
}


form.radio_form input[type=radio]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

form.radio_form input[type=radio]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

form.radio_form input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.15em 0.15em 0.15em 0.15em;
  border-radius    : 0.25em;
  background       : white;
  vertical-align   : bottom;
}

form.radio_form input[type=radio   ]:not(old):checked + label > span{
  background: #2190c7;
}

form.radio_form label span.hidden {
    display: none;
}

/* Sub Content */
div.sub_content {
    font-size: 1.5em;
    position: relative;
    border-radius: 7px;
    width:13em;
    height: 8em;
    overflow: hidden;
    display: inline-block;
    opacity: 0.8;
    background: #f842a0;
}

div.sub_content article {
    margin-left: 1em .5em;
}

div.sub_content article h3 {
    color: white;
}

div.sub_content article a {
    font-size: .7em;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

ul.sub_content_ul {
    position: relative;
    list-style-type: none;
    padding-left: 0;
}

ul.sub_content_ul li {
    display: inline;
}





